.vscode/**
.vscode-test/**
test/**
.gitignore
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
synerex_server/
synerex_nodeserv/
nodeinfo.json
sxprofile.json
webpack.config.js
node_modules
out/
src/
yarn-error.log
provider_proxy/
